.register-layout {
  min-height: 100vh;
}

.register-content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a32033; /* Warna dasar luar */
}

.register-row {
  width: 90%;
  height: 90%;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

/* Panel KIRI (Form) */
.register-left-panel {
  background-color: #f4d4dd;
  padding: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.register-form-container {
  width: 100%;
  max-width: 400px;
}

.register-button {
  background-color: #a32033;
  border: none;
  width: 100%;
  height: 40px;
  font-weight: bold;
  border-radius: 8px;
}

.register-button:hover {
  background-color: #871a2a !important;
}

/* Panel KANAN (Gambar & Teks) */
.register-right-panel {
  background: url("/images/login.jpg") no-repeat center center;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: left;
}

.register-promo-text h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
}

.register-promo-text p,
.register-promo-text span {
  font-size: 16px;
  color: white;
}
